<div class="container">
  <div class="list-products ">
    <% @products.each do |product| %>
      <div class="card">
        <%= link_to product_path(product) do %>
          <%= product.price %><p> €</p>
          <%= product.name %><br>
          <%= product.description %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
