<div class="card">
  <div class="list-products ">
    <% @products.each do |product| %>
      <p><%= product.price %> €</p>
      <%= product.name %>
      <%= product.description %>
      <% link_to product_path(product) %>
    <% end %>
  </div>
</div>
